@model MyTheatre.Web.ViewModels.VideoViewModel
@{
    ViewData["Title"] = "Add Video";
}

<h2>Add Video</h2>

<form asp-action="CreateVideo">
    <hr/>
    <div class="col-md-offset-10">
        <input type="submit" class="btn btn-primary" value="Save"/>
        <input type="reset" class="btn btn-default" value="Cancel">
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>    
        <div class="form-group">
            <label asp-for="Plot" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Plot" class="form-control" />
                <span asp-validation-for="Plot" class="text-danger"></span>
            </div>
        </div>   
          <div class="form-group">
            <label asp-for="GenreId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
               <select class="form-control" asp-for="GenreId" asp-items="@(new SelectList(@ViewBag.Genres,"Id","Name"))"></select>
                <span asp-validation-for="GenreId" class="text-danger"></span>
            </div>
        </div>  
    </div>
</form>